<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend App</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="todo-container">
    
    <div class="todo">
        <form action="/" method="POST" class="todo-header">
          <h3>Title</h3>
          
            <input type="text" name="title" id="title" placeholder="Enter your title">
            <h3>Content</h3>

            <textarea type="text" name="content" id="content" placeholder="Enter your Content"></textarea>

            <button type="submit">Post</button>
        </form>
        <ul class="todo-list">
            <% todoTasks.forEach(details => { %>
            <li class="todo-list-item">
                <div class="todo-list-item-name"><%= details.title %></div>
                <div class="todo-list-item-name"><%= details.content %></div>
          
                <a href="/edit/<%= details._id %>" class="edit">
                    <span>Edit</span>
                </a>
              
                <a href="/remove/<%= details._id %>" class="remove">
                    <span>Delete</span>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
</body>
</html>